{:routes
 ; keys: routes to proxy-diff GET requests on
 ; values: ignored now, :cache is just an example
 {"/route1" {:cache 5000}
  "/route2" {}}
 :backend {:host "localhost"
           :port 8000
           :conn-timeout 5000
           :socket-timeout 5000}
 :proxy {:host "localhost"
         :port 3000}}
