{:routes
 {"/route1" {:cache 5000}
  "/route2" {}} ; routes to proxy-cache GET requests on (per-route maps are ignored now)
 :backend {:host "localhost" ; ignored now - use command-line params
           :port 8000}
 :proxy {:host "localhost"
         :port 3000}}
